<!DOCTYPE html>
<html>
  <head>
    <title>SweetalertDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   <%= javascript_include_tag "delete_confirmation_dialog" %>
    <%= javascript_include_tag "success_confirmation_dialog"%>

    <!-- Include the SweetAlert2 library -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
